@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
    color: theme('colors.slate.900');
    background-color: theme('colors.slate.50');
  }
}

/* Custom Scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}
